# 데이터 처리 및 분석
pandas
numpy

# 머신러닝 및 분석
scikit-learn
lightgbm==4.3.0
mlxtend==0.23.1
tqdm

# 시각화
matplotlib
Pillow

# API 및 환경설정
python-dotenv
openai==1.1.1  # OpenAI의 새로운 클라이언트를 위해 최신 버전 필요

# 이메일 및 보고서 생성
jinja2
pdfkit